<div class="container research">
  <h1 class="jumbotron-heading text-center">
    Code Referenced during our Research
  </h1>

  <p class="lead text-muted text-center">
    A collection of kick-staters for you...
  </p>
  <div class="row research">
    <div class="card col-6 text-center">
      <div class="card-body">
        <h4 class="card-title">
          ImageNet training in PyTorch
        </h4>
        <p class="card-text">
          This implements training of popular model architectures, such as
          ResNet, AlexNet, and VGG on the ImageNet dataset. We used this to
          train an Alexnet on the Dual RTX 2080 on a tiny Imagenet Dataset.
        </p>
        <a
          href="https://github.com/pytorch/examples/tree/master/imagenet"
          class="btn btn-success"
          >View Code Reference</a
        >
      </div>
    </div>
    <div class="card col-6 text-center">
      <div class="card-body">
        <h4 class="card-title">
          Siamese Networks in Pytorch
        </h4>
        <p class="card-text">
          Siamese network is trained to distinguish pairs of images using
          PyTorch.
        </p>
        <a
          href="https://github.com/harveyslash/Facial-Similarity-with-Siamese-Networks-in-Pytorch"
          class="btn btn-success"
          >View Code Reference</a
        >
      </div>
    </div>
  </div>
</div>
