<div>
    <section class="jumbotron text-center">
        <div>
        <h1 class="jumbotron-heading">
            Drawing Parallels between CNN and the Visual Cortex
        </h1>
        <h4 class="jumbotron-heading">
            M. Tech Thesis, School of Computer and Information Sciences,
            University of Hyderabad
        </h4>
        <p class="lead text-muted">
            Under the guidance of Prof. Bapi Raju and Prof. Chakravarthy Bhagvati
        </p>

        <img
            src="../images/bapi.png"
            class="rounded profile"
            alt="Dr. Bapi Raju"
        />
        <img
            src="../images/chak.png"
            class="rounded profile"
            alt="Dr. Chakravarthy Bhagvati"
        />
        </div>
    </section>

    <div class="container research">
        <h1 class="jumbotron-heading text-center">Our Research</h1>
        <h5 class="jumbotron-heading text-center">The knowing of the unkown</h5>
        <p class="lead text-muted">
            We research about the most unkown thing after our Universe, the human
            brain. Particulary, we are trying to build computational models that
            help us understand the human visual cortex. We use DNNs as building
            block of this computational model.
        </p>
    </div>
</div>