<section class="jumbotron text-center">
    <div class="container">
        <p class="lead text-muted">
            In this section we list some sources where you will find information
            about how DNNs can be used to acheive out goal and why they are being
            used. Some sources also illustrates results supporting the fact that
            DNNs are indeed the best tools available to model a human's viusal
            cortex.
        </p>
        <div class="row research">
            <div class="card col-4 text-center">
            <div class="card-body">
                <h4 class="card-title">
                Comparison of deep neural networks to spatio-temporal cortical
                dynamics of human visual object recognition reveals hierarchical
                correspondence
                </h4>
                <p class="card-text">
                Spatio-temporally unbiased algorithmic account of visual object
                recognition in human cortex
                </p>
                <a
                href="https://www.nature.com/articles/srep27755"
                class="btn btn-primary"
                >View paper</a
                >
                <a
                href="https://docs.google.com/presentation/d/1XX4ejWuV6NTtGzTJzEqliUhB-5cKLq5FcxBY6044FKY/edit?usp=sharing"
                class="btn btn-primary"
                >View Summary</a
                >
            </div>
            </div>
            <div class="card col-4 text-center">
            <div class="card-body">
                <h4 class="card-title">
                Deep Supervised, but Not Unsupervised, Models May Explain IT
                Cortical Representation
                </h4>
                <p class="card-text">
                Understanding the correlation between DNN and IT representations
                </p>
                <a
                href="https://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1003915"
                class="btn btn-primary"
                >View paper</a
                >
                <a
                href="https://docs.google.com/presentation/d/1O4D5tgC1CcwbxJl49HSoapcUYGD-_aiEZjNqDA00nWw/edit?usp=sharing"
                class="btn btn-primary"
                >View Summary</a
                >
            </div>
            </div>
            <div class="card col-4 text-center">
            <div class="card-body">
                <h4 class="card-title">
                Performance-optimized hierarchical models predict neural responses
                in higher visual cortex
                </h4>
                <p class="card-text">
                Better the performance, better the neural response prediction
                </p>
                <a
                href="https://www.pnas.org/content/111/23/8619"
                class="btn btn-primary"
                >View paper</a
                >
                <a
                href="https://docs.google.com/presentation/d/1nARGuDQhCnR3l7xGwmJ6REP5wfL4dq9JJgTv-6Puby4/edit?usp=sharing"
                class="btn btn-primary"
                >View Summary</a
                >
            </div>
            </div>
        </div>
        <div class="row research">
            <div class="card col-4 text-center">
            <div class="card-body">
                <h4 class="card-title">
                Deep image reconstruction from human brain activity
                </h4>
                <p class="card-text">
                A novel approach for image reconstruction using brain activity
                </p>
                <a
                href="https://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1006633"
                class="btn btn-primary"
                >View paper</a
                >
                <a
                href="https://docs.google.com/presentation/d/1urNi5L9ulBlGnNcG4B4Tv3GGEdppxQjAzr4thv3bdAs/edit?usp=sharing"
                class="btn btn-primary"
                >View Summary</a
                >
            </div>
            </div>
            <div class="card col-4 text-center">
            <div class="card-body">
                <h4 class="card-title">
                Deep Neural Networks in Computational Neuroscience
                </h4>
                <p class="card-text">
                Using DNNs as tools to understand the biological brain
                </p>
                <a
                href="https://www.biorxiv.org/content/biorxiv/early/2017/05/04/133504.full.pdf?%3Fcollection="
                class="btn btn-primary"
                >View paper</a
                >
                <a
                href="https://docs.google.com/presentation/d/140ogitYMuDjT97u_7NvNqFjiC8QtOLu-6RXv3CKaXPI/edit?usp=sharing"
                class="btn btn-primary"
                >View Summary</a
                >
            </div>
            </div>
            <div class="card col-4 text-center">
            <div class="card-body">
                <h4 class="card-title">
                Trends in Cognitive Sciences
                </h4>
                <p class="card-text">
                Opinion on Deep Neural Networks as Scientific Models
                </p>
                <a
                href="https://doi.org/10.1016/j.tics.2019.01.009"
                class="btn btn-primary"
                >View paper</a
                >
                <a
                href="https://docs.google.com/presentation/d/1m0lc3wbL_TzVTAx3qZk0_slYwLJo0a8GpUbsEWt_OzU/edit?usp=sharing"
                class="btn btn-primary"
                >View Summary</a
                >
            </div>
            </div>
        </div>
        <div class="row research">
                <div class="card col-4 text-center">
                <div class="card-body">
                    <h4 class="card-title">
                    Neocognitron: A Self-organizing Neural Network Model
                    for a Mechanism of Pattern Recognition Unaffected by Shift in Position
                            
                    </h4>
                    <p class="card-text">
                    A neural network model for a mechanism of visual pattern recognition
                    </p>
                    <a
                    href="https://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1006633"
                    class="btn btn-primary"
                    >View paper</a
                    >
                    <a
                    href="https://docs.google.com/presentation/d/1urNi5L9ulBlGnNcG4B4Tv3GGEdppxQjAzr4thv3bdAs/edit?usp=sharing"
                    class="btn btn-primary"
                    >View Summary</a
                    >
                </div>
                </div>
        </div>
    </div>
</section>