<div class="container research">
  <h1 class="jumbotron-heading text-center">
    Progress of our Research
  </h1>

  <div class="row research">
    <div class="card col-12 card-shadow">
      <div class="card-header">Date: 19th August 2019</div>
      <div class="card-body">
        <p class="card-text">
            <ul>
                <li>Tasks completed so far:</li>
                <ul>
                    <li>Recreated the <a href="https://arxiv.org/pdf/1907.02591.pdf">Algonauts challenge MEG winner's paper</a></li>
                    <li>Trained AlexNet with and without foveation</li>
                    <li>Used this trained model to check the results of Algonauts challenge</li>
                    <li>Observed huge improvement in the results by applying foveation</li>
                </ul>
                <li>Below are the things to be worked on:</li>
                <ul>
                    <li>Create a proper logger</li>
                    <li>Debugg the exploading weights in case of VGG</li>
                    <li>Work on the MEG implementation</li>
                    <li>Train all the networks</li>
                    <li>Make foveation as one of the layers in the network instead of pre-processing step</li>
                </ul>
            </ul>
        </p>
        <!-- <a
          href="https://www.nature.com/articles/srep27755"
          class="btn btn-primary"
          >View paper</a
        >
        <a
          href="https://docs.google.com/presentation/d/1XX4ejWuV6NTtGzTJzEqliUhB-5cKLq5FcxBY6044FKY/edit?usp=sharing"
          class="btn btn-primary"
          >View Summary</a
        > -->
      </div>
    </div>
  </div>
</div>
